<!DOCTYPE html>
<html>
<head>
    <title>Centered Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <h1>Surf's Up!</h1>
        <img src="data:image/png;base64, {{ b64img }}" alt="Image" class="img-fluid mt-4">
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
