#flag {
  /* The flag will be correct when the crossword is completed */
  color: #000;
  font-family: monospace;
  font-style: normal;
  padding-left: 10px;
  word-wrap: anywhere;
}
h1 {
  margin-left: 20px;
  text-decoration: underline;
  position: absolute;
  top: 0px;
}
.flexmode {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.xw-box {
  background: #FFFFFF;
  margin-bottom: 25px;
  margin-top: 60px;
}
.xw {
  z-index: 1;
  background: transparent;
  border: 1px solid #000000;
  width: 700px;
  height: 700px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (4.008%)[25];
  -ms-grid-columns: (4.008%)[25];
      grid-template: repeat(25, 4.008%)/repeat(25, 4.008%);
  list-style-type: none;
  margin-right: 20px;
}
.sq {
  border: 1px solid #000000;
  background: transparent;
  position: relative;
  z-index: 100;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.sq:active, .sq:focus {
  background: #FFFF74;
  border: 1px solid #000000;
  outline: 1px solid #000000;
}
.sq-void {
  background: #000000;
  border: 1px solid #000000;
  outline: 1px solid #000000;
}
.xw-labels {
  position: absolute;
  z-index: 10;
  pointer-events: none;
}
.sq-label {
  position: relative;
}
.sq-label-text {
  position: absolute;
  top: 0.5px;
  left: 1px;
  font-size: 11px;
  line-height: 1;
}
.sq-highlight {
  background: #9AFF67;
  display: -ms-grid;
  display: grid;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.clues-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
}
.clues {
  margin: 0 20px 0px 40px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  max-width: 540px;
}
.clues-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;
}
.clue {
  margin: 0;
  padding-bottom: 8px;
  line-height: 110%;
  position: relative;
}
.clue:before {
  content: attr(data-number) ".";
  position: absolute;
  left: -35px;
  width: 25px;
  text-align: right;
}
.flag-generator {
  margin: 50px;
  font-size: 16px;
  font-style: italic;
  color: #999;
  line-height: 2;
  text-align: center;
}
button {
  font-style: italic;
}

/* Sizing */
@media (min-width: 900px) { .xw { width: 800px; height: 800px; } .sq-label-text { font-size: 12.5px; } }
@media (min-width: 1200px) { .xw { width: 900px; height: 900px; } .sq-label-text { font-size: 14px; } }
@media (min-width: 1620px) { .xw { width: 780px; height: 780px; } .sq-label-text { font-size: 12.5px; } .clue { max-width: 320px} }
@media (min-width: 1800px) { .xw { width: 850px; height: 850px; } .sq-label-text { font-size: 13.5px; } .clue { max-width: 358px} }

/* Labels  */