<!DOCTYPE html>
<html>
<body onload="document.createElement('form').submit.call(document.getElementById('myForm'))">
	<form id="myForm" name="myForm" action="http://127.0.0.1:5000/admin" method="POST">
		<input type=hidden name="username" id="username" value="{{ username }}"/>
		<input type=hidden name="password" id="password" value="{{ password }}"/>
		<input type=hidden name="submit" id="submit" value="Continue"/>
	</form>
</body>
</html>
